.root {
  font-family: "sans-serif";
}
.Attendance-header{
  padding: 0%;
  text-align: left;
  font-family: sans-serif;
}
.Attendance-header-main{
  margin: auto;
  padding: 0%;
  text-align: left;
  font-sqize: 20px;
}
.attendance-page {
  padding: 24px;
}

.attendance-card {
  border-radius: 14px;
  margin-bottom: 24px;
}

/* ===== TODAY CARD BODY ===== */
.attendance-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* ===== LEFT & RIGHT ACTION BOX ===== */
.action-box {
  width: 30%;
  text-align: center;
}

/* CHECK IN BUTTON */
.check-in {
  background: #52c41a;
  color: white;
  border: none;
  width: 100%;
  height: 90px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.check-in:hover {
  background-color: #389e0d;
}

/* CHECK OUT BUTTON */
.check-out {
  background: #ffcc8f;
  color: white;
  border: none;
  width: 100%;
  height: 90px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.check-out:hover {
  background-color: #d48806;
}

/* ===== CENTER HOURS BOX ===== */
.hours-box {
  width: 30%;
  height: 170px;
  background: #f5f5f5;
  border-radius: 14px;
  text-align: center;
  padding-top: 18px;
}

.hours-box h2 {
  margin: 10px 0 0;
  font-size: 22px;
}

.hours-box p {
  margin: 0;
  font-size: 13px;
  color: #888;
}

/* ===== TIME TEXT ===== */
.time-text {
  display: block;
  margin-top: 8px;
  font-size: 12px;
  color: #888;
}

/* SUMMARY */
.attendance-header {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.icon-calendar {
  font-size: 22px;
  color: #fa8c16;
}

.summary-box {
  text-align: left;
  padding: 15px;
  border-radius: 12px;
}

.summary-present {
  background: #f6ffed;
}

.summary-absent {
  background: #fff2e8;
}

.summary-hours {
  background: #e6f4ff;
}

.icon-green {
  color: #52c41a;
}

.icon-red {
  color: #ff4d4f;
}

.icon-blue {
  color: #1677ff;
}

/* RECENT */
.recent-title {
  margin-top: 30px;
}

.recent-box {
  padding: 14px;
  border-radius: 12px;
  text-align: center;
}

.recent-present {
  background: #f6ffed;
}

.recent-absent {
  background: #fff2e8;
}

.recent-date {
  font-weight: 500;
}

.recent-hours {
  margin-top: 8px;
}
